@mixin classic-input {
    transition: all 0.3s;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: $classic-border;
    border-radius: 5px;
    &:focus {
        outline: none;
        border-color: $grey-opacity-25;
    }
}

@mixin classic-select-input {
    @include classic-input;
    height: auto
}
