@mixin arrow {
    width: 30px;
    height: 2px;
    background-color: black;
    position: relative;
    &::before, &::after{
        content: "\00a0\00a0";
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: black;
        height: 2px;
        transform-origin: right;
    }&::before {
        transform: rotate(20deg);
    }&::after{
        transform: rotate(-20deg);
    }
}