$main-color-1: #283044;
$main-color-2: #78a1bb;
$main-color-3: #ebf5ee;
$main-color-4: #bfa89e;
$main-color-5: #8b786d;
$main-color-6: #565E74;

$main-color-1-opacity-0: #28304400;
$main-color-4-opacity-25: #bea79d40;
$main-color-5-opacity-25: #8c796e40;

$main-shadow: rgba(40, 48, 68,0.2);

$sidemenu-title-color: #bacdb0;

$dark-grey-border-color: rgba(92, 92, 92, 0.608);

$light-grey: rgb(224, 224, 224);
$grey-opacity-25 :rgba(160, 160, 160, 0.25);
$dark-grey-opacity-25: rgba(92, 92, 92, 0.25);
$darker-grey: rgb(39, 39, 39);