$main-color-1: #283044;
$main-color-2: #78a1bb;
$main-color-3: #ebf5ee;
$main-color-4: #bfa89e;
$main-color-5: #8b786d;

$main-color-4-opacity-25: #bea79d40;
$main-color-5-opacity-25: #8c796e40;

$main-shadow: rgba(40, 48, 68,0.2);


$sidemenu-title-color: #bacdb0;

$classic-border-color: $main-color-5