$logo-gear-right-filter: invert(0%) sepia(200%) saturate(900%) hue-rotate(172deg) brightness(52%) contrast(111%);
$logo-clock-border-color: #3ab8b9;
$logo-clock-border: 10px solid $logo-clock-border-color;
$logo-clock-bgc: #daf2fe;
$logo-clock-hand: #706bef;
