@import './settings/colors.scss';
@import './settings/sizes.scss';
@import './settings/border.scss';
@import './settings/transition.scss';

@import './mixins/cards.scss';
@import './mixins/containers.scss';
@import './mixins/background-image.scss';


.fwh {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}
